accelerate
av
bitsandbytes
datasets
moviepy
numpy
peft
scipy
torch
transformers
addict
future
lmdb
opencv-python
Pillow
pyyaml
requests
scikit-image
tb-nightly
tqdm
yapf
joblib
pandas
scikit-learn